body{
    font-family: 'Poppins', sans-serif;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
}

h1{
    font-size: 50px;
}

#Maruf{
    color: orange;
}

.div_1{
    padding-left: 5%;
}

.paragraf_color_1{
    color: #B2BEB5;
    text-align: justify;
}

section{
    display: flex;
}

.distance{
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.padding_left{
    padding-left: 15%;
}

.half-width img{
    width: 70%;
}

.link-button{
    text-decoration: none; 
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;   
    padding: 10px 40px;
    border-radius: 5px;
}

.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.padding_right{
    padding-right: 5%;
}

.forty-width{
    width: 40%;
    padding-left: 5%;
}

.sixty-width{
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
}

.forty-width img{
    width: 70%;
}

.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}